

.PayComfirm_TopArea{
    display: flex;
    width: 100%;
    height: fit-content;

}

.PayComfirm_logoArea{
    display: inline-block;
    width: 40%;
}

.PayComfirm_logo{
    float: left;
    width: 20%;
}


.PayComfirm_StepArea{
    display: inline-block;
    display:table-cell;
    width: 60%;

    float: right;

    vertical-align: middle;
}

.userLocationButtonGroup{
    margin: 0;
    padding: 0;

    width: 100%;
    height: fit-content;
}


.userLocationButton{
    margin: 20px;
    height: fit-content;
    width: 20%;
    padding: 0;
    word-wrap:break-word;
}

.userLocationCard{

    height: 100%;
    text-align: left;
    word-wrap:break-word;
    background: url(//img.alicdn.com/tps/i2/T1VPiBXvpeXXbjLKQ7-237-106.png) no-repeat;
    background-size: 100%,100%;
}

.userLocationCard:hover{
    background: url(//img.alicdn.com/tfs/TB1OVRCRpXXXXaMXFXXXXXXXXXX-237-106.png) no-repeat;
    background-size: 100%,100%;
}


.userLocationPlace{
    margin: 0;
    padding: 0;

    white-space:normal;
    font-size: 12px;
    color: #666666;
}

.userPhoneNumber{
    margin: 0;
    padding: 0;

    white-space:normal;
    font-size: 12px;
    color: #666666;

}

.userLocationTitle{
    margin: 0;
    padding: 0;
    color: #666666;
    font-weight: bold;
}

.payComfirmPriceAll{
    font-weight: bold;
    font-style: normal;
    text-decoration: none;
    color: rgb(255, 0, 54);
    font-size: 19px;
}


.PayComfirm_TableHeader{
    display: inline-block;
    height: 24px;
    line-height: 24px;
    text-align: center;
    border-bottom: 3px solid #b2d1ff;
    font-size: 12px;
    margin-left: 1px;
    vertical-align: bottom;
    width: 100%;
}


.payComfirmPriceTotalLabel{
    font-weight: 700;
    color: #333;
}

.payComfirmPriceTotalNum{
    color: #FF0036;
    font-size: 30px;
    font-weight: bold;

}